<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %>
  <%- include("partials/nav.ejs") %>
  <body>
    <div class="griddiv">
    <% for(let i = 0; i < games.length; i++) { %>
        <div class="gamecontainer">
        <a href="/games/<%=games[i].id%>"><%=games[i].title%></a>
        <img class="gridimg" src="<%=games[i].image%>">
        </div>
      <%}%>
    </div>
  </body>
</html>
