<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %>
  <%- include("partials/nav.ejs") %>
  <body>
    <% for(let i = 0; i < reviews.length; i++) { %>
      <div class="reviewpost">
        <%=reviews[i].videoGameTitle%>
        <%=reviews[i].rate%><span class="material-icons-outlined">
star_rate
</span>s
        <%=reviews[i].review%>
        <form action="/games/<%=reviews[i].id; %>?_method=DELETE" method="POST">
          <input class="btn" type="submit" value="delete post">
        </form>
        <form action="/<%=reviews[i].id%>/edit">
          <input class="btn" type="submit" value="edit post">
        </form>
      </div>
    <%}%>
  </body>
</html>
