<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %>
  <%- include("partials/nav.ejs") %>
  <body>
    <div class="profilecontainer">
      <div class="profileinfo">
        <img class="pfp" src="https://pbs.twimg.com/media/FFzZmt4WYAIJD62?format=jpg&name=360x360">
        <h1>edamnsel <span class="material-icons-outlined">
person_add
</span></h1>
        <h3>currently playing: <span>lost ark, apex legends, cultist simulator</span></h3>
        <h3>hours of lost ark played: <span>10</span></h3>
        <h3>hours of apex played: <span>34</span></h3>
        <h3>hours of cultist simulator played: <span>104</span></h3>
        <h3>hours of all games played: <span>1902838</span></h3>
        <div class="usernames">
          <ul>
            <li><a href="/">Steam</a></li>
            <li><a href="/">Epic</a></li>
            <li><a href="/">tracker.gg</a></li>
            <li>Switch Code: <span>SW-0000-0000-0000</span></li>
            <li>Gamertag: <span>thescarletbelle</span></li>
            <li>Riot Games: <span>HGS damnsel#baby</span></li>
          </ul>
        </div>
        <div class="socials">
          <ul>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
            <li><a href="#" class="fa fa-twitch"></a></li>
          </ul>
        </div>
        <h1> favorite games</h1>
          <div class="favegamecontainer">
            <% for(let i = 0; i < games.length; i++) { %>
                <a href="/games/<%=games[i].id%>"><%=games[i].title%></a>
                <img class="gridimg" src="<%=games[i].image%>">
              <% } %>
          </div>
      </div>
      <div class="posts">
      <div class="listcontainer">
        <h2>be gay do crimes</h2>
        <h3>by edamnsel</h3>
        <div class="listitem">
          <img src="https://cdn1.epicgames.com/spt/9dcb57c3-e7cc-4468-b748-c341b317ff77/song-of-farca-offer-53e586a3.png">
          <img src="https://cdn1.epicgames.com/3928fd8975b2437d894bbc5cd21de9a0/offer/SRTT_Tall-512x682-83e0de7dcccfbfdaa10f5fee5d2f1242.jpg">
          <img src="https://cdn.akamai.steamstatic.com/steam/apps/320240/capsule_616x353.jpg?t=1575388728">
        </div>
      </div>
      <% for(let i = 0; i < reviews.length; i++) { %>
        <div class="profilereview">
          <div class="reviewpost">
            <h1><%=reviews[i].videoGameTitle%></h1>
            <h3>by <%=reviews[i].author%></h3>
            <p><%=reviews[i].rate%><span class="material-icons-outlined">star_rate</span></p>
            <p><%=reviews[i].review%></p>
            <div class="btns">
              <form action="/games/<%=reviews[i].id; %>?_method=DELETE" method="POST">
                <input class="btn" type="submit" value="delete post">
              </form>
              <form action="/<%=reviews[i].id%>/edit">
                <input class="btn" type="submit" value="edit post">
              </form>
            </div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
